{% extends '_base/_page-nav.twig' %}

{% macro makeItem(item, children) %}

    {% setcontent record = item %}
    {% set title %}
        <code>[{{ record.contenttype.slug }}/{{ record.id }}]</code> <a href="{{ record.link }}">{{ record.title }}</a>
    {% endset %}

    <li>
        {% if children is not empty %}
            <details>
                <summary>
                    {{ title }}
                </summary>
                <ol>
                    {% for i, j in children %}
                    {{ _self.makeItem(i, j) }}
                    {% endfor %}
                </ol>
            </details>
        {% else %}
            {{ title }}
        {% endif %}
    </li>

{% endmacro %}

{% import _self as macros %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <div class="hierarchicalroutes-tree">
        <ol>
        {% for node, children in tree %}
            {{ _self.makeItem(node, children) }}
        {% endfor %}
        </ol>
    </div>

{% endblock page_main %}
