{% extends '_base/_page-nav.twig' %}

{% macro makeItem(item, children) %}

    {% setcontent record = item %}
    {% set editlink = record.editlink() %}

    {% set title %}
        <code>[{{ record.contenttype.slug }}/{{ record.id }}]</code>
        <i class="fa fa-fw fa-circle status-{{ record.status }}"></i>
        <a href="{{ record.link() }}">{{ record.title }}</a>
        {# <a class="btn btn-tertiary btn-xs" href="{{ record.link() }}">View</a> #}

        {% if editlink %}
            <a class="btn btn-tertiary btn-xs" href="{{ editlink }}">Edit</a>
        {% endif %}
    {% endset %}

    <li>
        {% if children is not empty %}
            <details open>
                <summary>
                    {{ title }}
                </summary>
                <ol>
                    {% for i, j in children %}
                    {{ _self.makeItem(i, j) }}
                    {% endfor %}
                </ol>
            </details>
        {% else %}
            {{ title }}
        {% endif %}
    </li>

{% endmacro %}

{% import _self as macros %}

{% block page_nav title %}

{% block page_title __(title) %}

{% block page_main %}

    <div>
        <p>
            <a class="btn btn-primary" href="{{ path('hierarchicalroutes.tree', {'rebuild': true}) }}">
                <i class="fa fa-fw fa-sitemap"></i> Rebuild
            </a>
            |
            <a class="btn btn-secondary expand-all" href="#">
                <i class="fa fa-fw fa-caret-down"></i> Expand all
            </a>
            <a class="btn btn-secondary collapse-all" href="#">
                <i class="fa fa-fw fa-caret-up"></i> Collapse all
            </a>

            <a class="btn btn-tertiary pull-right"
                href="{{ path('fileedit', { namespace: 'config', file: 'extensions/hierarchicalroutes.twokings.yml'}) }}">
                <i class="fa fa-fw fa-cog"></i> Edit configuration
            </a>
        </p>
    </div>

    <div class="hierarchicalroutes-tree well">
        <ol>
        {% for node, children in tree %}
            {{ _self.makeItem(node, children) }}
        {% endfor %}
        </ol>
    </div>

{% endblock page_main %}
